<div  *ngIf="routerurl==='/allDramaData'" style="background-color: aliceblue;" class="mainDiv">
    <div *ngFor='let item of searchedDataResults'>
        <div class="mainDiv">
        <div class="col-md-8 searchDiv">
            <div class="titlePoster col-md-5 mb-4">
                <a target="_blank" rel="noreferrer">
                    <img style="height: 12rem;
                 
                 margin-top: 2rem;margin-top: 1rem;" alt={{item.name}} src={{item.backdrop_path}} />
                </a>
            </div>
            <div style="    margin-left: 2rem;" class="col-md-7">
              <a  (click)="sendClickedDramaInfo(item)" routerLink="/singledramainfo" style="color: #2596be;
              font-size: x-large;
              font-weight: 700;
              margin-left:2rem;
              margin-top: 1.5rem;" >{{item.name}}</a>
              <div style="margin-left:2rem;margin-top:1rem">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </div>
                <div style="margin: 2rem">
                    {{item.overview}}
                </div>

            </div>




        </div>
    </div>
    </div>
</div>